
nanodjango {
  --width-tablet: 1024px;
  --width-mobile: 768px;
  --width-narrow: 550px;
  --grey: #363636ff;

  /* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */
  --sky-blue: #8ecae6;
  --blue-green: #219ebc;
  --prussian-blue: #023047;
  --selective-yellow: #ffb703;
  --ut-orange: #fb8500;

  --orange: var(--ut-orange);
  --yellow: var(--selective-yellow);
  --blue: var(--prussian-blue);
  --blue-mid: var(--blue-green);
  --blue-pale: var(--sky-blue);

  --grey-05: color-mix(in srgb, var(--grey) 5%, white);
  --grey-10: color-mix(in srgb, var(--grey) 10%, white);
  --grey-20: color-mix(in srgb, var(--grey) 40%, white);
  --grey-30: color-mix(in srgb, var(--grey) 60%, white);
  --grey-40: color-mix(in srgb, var(--grey) 80%, white);
  --grey-50: var(--grey);
  --grey-60: color-mix(in srgb, var(--grey) 80%, black);
  --grey-70: color-mix(in srgb, var(--grey) 60%, black);
  --grey-80: color-mix(in srgb, var(--grey) 40%, black);
  --grey-90: color-mix(in srgb, var(--grey) 20%, black);

  --blue-05: color-mix(in srgb, var(--blue) 5%, white);
  --blue-10: color-mix(in srgb, var(--blue) 10%, white);
  --blue-20: color-mix(in srgb, var(--blue) 40%, white);
  --blue-30: color-mix(in srgb, var(--blue) 60%, white);
  --blue-40: color-mix(in srgb, var(--blue) 80%, white);
  --blue-50: var(--blue);
  --blue-60: color-mix(in srgb, var(--blue) 80%, black);
  --blue-70: color-mix(in srgb, var(--blue) 60%, black);
  --blue-80: color-mix(in srgb, var(--blue) 40%, black);
  --blue-90: color-mix(in srgb, var(--blue) 20%, black);

  --blue-pale-05: color-mix(in srgb, var(--blue-pale) 5%, white);
  --blue-pale-10: color-mix(in srgb, var(--blue-pale) 10%, white);
  --blue-pale-15: color-mix(in srgb, var(--blue-pale) 15%, white);
  --blue-pale-20: color-mix(in srgb, var(--blue-pale) 40%, white);
  --blue-pale-30: color-mix(in srgb, var(--blue-pale) 60%, white);
  --blue-pale-40: color-mix(in srgb, var(--blue-pale) 80%, white);
  --blue-pale-50: var(--blue-pale);
  --blue-pale-60: color-mix(in srgb, var(--blue-pale) 80%, black);
  --blue-pale-70: color-mix(in srgb, var(--blue-pale) 60%, black);
  --blue-pale-80: color-mix(in srgb, var(--blue-pale) 40%, black);
  --blue-pale-90: color-mix(in srgb, var(--blue-pale) 20%, black);

  --yellow-10: color-mix(in srgb, var(--yellow) 10%, white);

  --primary: var(--blue);

  --button-bg: var(--blue);
  --button-fg: var(--blue-10);
  --button-hover-bg: var(--yellow);
  --button-hover-fg: var(--blue);

  --font-head: "Barlow", sans-serif;
  --font-body: "Barlow", sans-serif;
  --font-code: "Fira Mono", monospace;

  --header-height: 25px;
}

@font-face {
  font-family: 'Barlow';
  src: url('https://nanodjango.dev/static/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('https://nanodjango.dev/static/fonts/Barlow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('https://nanodjango.dev/static/fonts/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('https://nanodjango.dev/static/fonts/FiraMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


nanodjango {
*,
:after,
:before {
  box-sizing: border-box
}


/** Common content styles */

.icon {
  --img: "";
  --color: var(--blue);
  --size: 32px;
  mask-image: var(--img);
  background-color: var(--color);
  width: var(--size);
  height: var(--size);
  justify-self: end;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: calc(var(--size) * 0.75);

  &:is(span) {
    display: inline-block;
  }
}


  h1 {
    font-family: var(--font-head);
  }
}



/** Common page elements */



nanodjango {

  font-size: 1.1rem;
  
  font-family: var(--font-body);
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [content-start] minmax(auto, var(--width-tablet)) [content-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: auto 1fr auto;
  line-height: 1.5;

  @media (max-width: 1024px) {
    grid-template-columns: [full-start] 2rem [content-start] auto [content-end] 2rem [full-end];
  }

  @media (max-width: 768px) {
    grid-template-columns: [full-start] 1rem [content-start] auto [content-end] 1rem [full-end];
  }

}


nanodjango {

header,
.messages,
.hero,
main,
footer {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;

  &>div,
  &>article {
    grid-column: content;
  }
}

header {
  --height: var(--header-height);
  --v-padding: 1rem;
  --padding: var(--v-padding) 0;
  --full-height: calc(var(--height) + (var(--padding) * 2));
  --nav-toggle-size: 30px;

  font-family: var(--font-head);
  background: var(--blue-50);
  background: linear-gradient(180deg, var(--blue-60) 0%, var(--blue-50) 100%);

  .header-nav>div {
    display: flex;
    padding: var(--padding);

    h1 {
      margin: 0;
      padding: 0;
      flex: 1 1 auto;
      height: var(--height);
      line-height: var(--height);
      font-size: 2.2rem;

      img {
        height: var(--height);
        display: inline-block;
      }
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;

      li {
        line-height: var(--height);

        a,
        a:visited {
          color: var(--blue-10);
          font-weight: 500;
          text-decoration: none;
          padding: 3px 0;
          border-bottom: 2px solid transparent;

          &.active {
            color: #fff;
            border-bottom-color: var(--blue-20);
          }

          &:hover {
            color: #fff;
          }
        }
      }
    }

    #nav-toggle {
      display: none;

      &+label {
        display: none;
      }

    }
  }

  
}


  grid-template-columns: [full-start] 1rem [content-start] auto [content-end] 1rem [full-end];
  

main {
  &>section {
    grid-column: content;
  }
}

footer {
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--grey-70);

  nav {
    padding: 1rem 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
      display: flex;
      gap: 1rem;

      a {
        display: block;
        flex: 0 0 auto;
        color: var(--grey-20);
        text-decoration: none;

        &:hover {
          color: var(--grey-10);
        }
      }

      @media (max-width: 550px) {
        display: block;
      }

    }
  }
}


}


@media (max-width: 768px) {

  
nanodjango {

  header {
    .header-nav>div {
      display: block;
    }

    nav {
      #nav-toggle {
        &+label {
          --size: var(--nav-toggle-size);
          --color: white;
          cursor: pointer;
          position: absolute;

          top: calc(((var(--height)/2) - (var(--size) / 2)) + 1rem);

          right: 1rem;
          display: block;
          --img: url("https://nanodjango.dev/static/icons/menu.svg");
        }

        &~ul {
          display: none;
        }
      }

    }
  }

  
}

  body:has(#nav-toggle:checked) {
    height: 100svh;
    overflow: hidden;

    header {
      z-index: 1100;

      &,
      .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
      }

      .subnav,
      #messages {
        display: none;
      }

      .header-nav {
        background: var(--blue-50);
        border: 0;
        padding: 0 1rem;

        &>div {
          display: block;
        }

        nav {

          label {
            --img: url("https://nanodjango.dev/static/icons/close.svg");
          }

          ul {
            display: flex;
            position: fixed;
            top: calc(var(--height) + var(--v-padding) + 2rem);
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
            flex-direction: column;
            gap: 1rem;

            li {

              a {
                display: block;
                padding: 0.5rem 1rem;
                border: 0;

                &:hover,
                &:focus,
                &:active {
                  color: var(--blue);
                  background: var(--yellow);
                  border-radius: 8px;
                }
              }

              a.active {
                border: 0;
                color: var(--orange);

                &:hover,
                &:focus,
                &:active {
                  color: var(--blue);
                }
              }

            }
          }
        }
      }
    }

    
    nanodjango~* {
    
      display: none;
    }
  }
}


